Q1. Create one variable containing following type of Data.

In [1]:
# (i)String
name = "Himanshu"
print(type(name))

#(ii) list
states = ["uttarakhand","Bihar","Orrisa","Sikkim","Goa"]
print(type(states))

#(iii) Float
price = 29.50
print(type(price))

#(iv)tuple
item = ("Banana","Apple","Orange","Kiwi","Grapes")
print(type(item))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data.
What will be the data type of the above given variable.

In [4]:
#(i)
var1 = ""
print(type(var1))

#(ii)
var2 = '[DS,ML,Python]'
print(type(var2))

#(iii)
var3 = ['DS','ML','Python']
print(type(var3))

#(iv)
var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operator using an example:

In [5]:
#(i)
a = 100/50
print(a)

#It is used for division. It will have decimal values if applicable.

#(ii)
b = 25%2
print(b)

# This will present the remainder after division.

#(iii)
b = 100//50
print(b)

# This will remove the decimal values and will round off

#(iv)
c = 2**3
print(c)

# ** works as power. The above variable c will print 2 to the power of 3

2.0
1
2
8

Q4. Create a list of length 10 of oyur choice containing multiple types of data. Using for loop print the element and its data type.

In [6]:
list = ["python","javascript",25, 79, ["ayodhya", "varanasi","Mathura"], {"Himanshu:Student"},6+5j,("Bottle","tiffin","bag"),46.50, 89]
for i in list:
    print(i)
    print(type(i))

python
<class 'str'>
javascript
<class 'str'>
25
<class 'int'>
79
<class 'int'>
['ayodhya', 'varanasi', 'Mathura']
<class 'list'>
{'Himanshu:Student'}
<class 'set'>
(6+5j)
<class 'complex'>
('Bottle', 'tiffin', 'bag')
<class 'tuple'>
46.5
<class 'float'>
89
<class 'int'>

Q5.Using a while loop, verify if the number A is purily divisible by number B and if so then how many times it can be divisible.

In [7]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0
while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"A is divisible by B {count} times.")
else:
    print("A is not divisible by B.")

Enter the value of A:  5
Enter the value of B:  2

A is not divisible by B.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
m = [12,33,6,65,26,24,52,63,66,33,93,99,102,105,25,30,60,88,52,88,77,78,89,66,3]
print(len(m), "- total integers in the list")
for i in m:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer - Mutable data types are the ones which can be edited/appended for example - list, dictionary etc.
Mutable data type items do not change their memory location/ID when they are appended/edited. They store the value in the same place/ID. Below code shows this through example.

In [10]:
list = ["banana","apple","orange",]
print(id(list))
list.append("grapes")
print(list)
print(id(list))

#this is an example of mutable data type where the ID remains the same even after modifying the actual list.

140421138786432
['banana', 'apple', 'orange', 'grapes']
140421138786432

Immutable data types are the ones which cannot be edited/appended for example - tuples,integers, strings etc.

In [ ]:
a = 20
print(id(a))
a += 9
print(id(a))

#this is an example of immutable. It shows that on making any changes, it creates a new object instead of modifying the exiting value.